
<ion-content class="transparent-content">
  <div class="modal-content">
    <h2>Buscando Conductores</h2>
    <div class="circle">
      <!-- Imagen del auto animada -->
      <img src="https://firebasestorage.googleapis.com/v0/b/ubernt-99b85.appspot.com/o/images%2F4.png?alt=media&token=bd2569a6-e9af-4567-a6dd-62ed234a509d" alt="Car Image" class="car-image">
    </div>
    <ion-button expand="full" color= "danger" class="cancelar-button" (click)="cancelSearch()">Cancel searching</ion-button>
  </div>
</ion-content>
