<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-columns">
      <!-- Columna izquierda -->
      <ion-buttons slot="start" class="toolbar-left">
        <app-toggle-switch
          (statusChange)="onStatusChange($event)"
        ></app-toggle-switch>
      </ion-buttons>

      <!-- Columna central -->
      <ion-title class="centered-title">{{ "Map Distance" }}</ion-title>

      <!-- Columna derecha -->
      <ion-buttons slot="end" class="toolbar-right">
        <app-user-button></app-user-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor para los botones de navegación -->
  <div class="buttons-container">
    <ion-button expand="full" (click)="startNavigation()">Start Navigation</ion-button>
    <ion-button expand="full" (click)="startPassengerNavigation()">Start Navigation Passenger</ion-button>
    <ion-button expand="full" (click)="finishRide()">Finish Ride</ion-button>
  </div>

  <div id="map" style="height: 100%" (click)="onMapClick()"></div>

  <div *ngIf="tripRequest && !tripAccepted">
    <h2>Solicitud de viaje recibida</h2>
    <p>Pasajero ID: {{ tripRequest.passenger_id }}</p>
    <p>Ubicación de inicio: {{ tripRequest.start_location_id }}</p>
    <p>Ubicación de fin: {{ tripRequest.end_location_id }}</p>

    <ion-button expand="full" (click)="acceptTrip()">Aceptar Viaje</ion-button>
    <ion-button expand="full" color="danger" (click)="rejectTrip()">Rechazar Viaje</ion-button>
  </div>
</ion-content>
