<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-columns">
      <!-- Columna izquierda -->
      <ion-buttons slot="start" class="toolbar-left">
        <app-toggle-switch
          (statusChange)="onStatusChange($event)"
        ></app-toggle-switch>
      </ion-buttons>

      <!-- Columna central -->
      <ion-title class="centered-title">{{ "Map Distance" }}</ion-title>

      <!-- Columna derecha -->
      <ion-buttons slot="end" class="toolbar-right">
        <app-user-button></app-user-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenedor para los botones de navegación -->
  <div class="buttons-container">
    <!-- Botón Start Navigation -->
    <ion-button *ngIf="showStartNavigationButton" expand="full" (click)="hideButtonStartNavigation()">
      Start Navigation
    </ion-button>

    <!-- Botón Start Navigation Passenger -->
    <ion-button *ngIf="showStartPassengerNavigationButton" expand="full" (click)="hideButtonStartPassengerNavigation()">
      Start Navigation Passenger
    </ion-button>

    <!-- Botón Finish Ride -->
    <ion-button *ngIf="showEndRideButton" expand="full" (click)="hideButtonEndRide()">
      Finish Ride
    </ion-button>
  </div>

  <div id="map" style="height: 100%" (click)="onMapClick()"></div>

  <div *ngIf="tripRequest && !tripAccepted">
    <h2>Solicitud de viaje recibida</h2>
    <p>Pasajero ID: {{ tripRequest.passenger_id }}</p>
    <p>Ubicación de inicio: {{ tripRequest.start_location_id }}</p>
    <p>Ubicación de fin: {{ tripRequest.end_location_id }}</p>

    <ion-button expand="full" (click)="acceptTrip()">Aceptar Viaje</ion-button>
    <ion-button expand="full" color="danger" (click)="rejectTrip()">Rechazar Viaje</ion-button>
  </div>
  <app-bubbles *ngIf="showBubbles" (click)="openChatFromBubbles()"/>
</ion-content>
