<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar-columns">
      <!-- Columna izquierda -->
      <ion-buttons slot="start" class="toolbar-left">
        <app-toggle-switch (statusChange)="onStatusChange($event)"></app-toggle-switch>
      </ion-buttons>

      <!-- Columna central -->
      <ion-title class="centered-title">{{ "Map Distance" }}</ion-title>

      <!-- Columna derecha -->
      <ion-buttons slot="end" class="toolbar-right">
        <app-user-button></app-user-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div class="inputs-container">
    <ion-item>
      <ion-label position="floating">Start Location</ion-label>
      <ion-input id="startLocation" [(ngModel)]="startLocation" (ionChange)="onLocationInputChange('start')"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">End Location</ion-label>
      <ion-input id="endLocation" [(ngModel)]="endLocation" (ionChange)="onLocationInputChange('end')"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Distance: {{ distance }}</ion-label>
    </ion-item>

    <ion-button  expand="block" class= "buscar-button" (click)="openSearchModal()">Buscar</ion-button>

  </div>
  <div id="map" class="map-container"></div>
</ion-content>

  