<ion-header>
  <ion-toolbar>
    <ion-title>Map Distance</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSearchModal()">Buscar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inputs-container">
    <ion-item>
      <ion-label position="floating">Start Location</ion-label>
      <ion-input id="startLocation" [(ngModel)]="startLocation" (ionChange)="onLocationInputChange('start')"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">End Location</ion-label>
      <ion-input id="endLocation" [(ngModel)]="endLocation" (ionChange)="onLocationInputChange('end')"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Distance: {{ distance }}</ion-label>
    </ion-item>
  </div>
  <div id="map" class="map-container"></div>
</ion-content>

  