

:host, ion-content, #map {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
ion-header {
  --background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.inputs-container {
  position: absolute;
  top: 0; /* Ajusta para que cubra desde el tope */
  left: 0; /* Ajusta para que cubra desde el lado izquierdo */
  right: 0; /* Ajusta para que cubra hasta el lado derecho */
  z-index: 1000; /* Asegura que los inputs estén por encima del mapa */
  background: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
  padding: 16px; /* Puedes ajustar el padding según sea necesario */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}


.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 0; /* Asegura que el mapa esté debajo de los inputs */
}

ion-item {
  --inner-padding-end: 10px;
  --inner-padding-start: 10px;
}

