<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title">{{ "Account" }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header> 
    <ion-avatar class="custom-avatar">
      <img [src]="profilePictureUrl" />
    </ion-avatar>
    <ion-card-title>{{fullname}}</ion-card-title>
    <ion-card-title>{{username}}</ion-card-title>
   </ion-card-header> 

  <div class="ion-center">
    <ion-card class="bottom-card" shape="round">
      <ion-card-content class="btnSection">
        <ion-item lines="none" (click)="changePicture()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cambiar Foto de Perfil</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        <ng-container *ngIf="userRole === 'driver'">
          <ion-item lines="none" (click)="createVehicle()">
            <ion-icon name="car-outline" slot="start"></ion-icon>
            <ion-label>Asociar Vehiculo</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>
        </ng-container>
        <ion-item lines="none" (click)="changeName()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Modify Name</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" (click)="changeEmail()">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>Modify Email</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" (click)="changePassword()">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label>Modify Password</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item lines="none" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        
        <div class="separator"></div>

        <ion-item lines="none"(click)="deleteAccount()">
          <ion-icon name="trash-outline" class="trash-outline" slot="start"></ion-icon>
          <ion-label color="danger" class="delete-account-label">Delete Account</ion-label>
          
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
