ion-header {
  ion-toolbar {
    --background: linear-gradient(to right, #550DA1, #661491);
    --color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

ion-content {
  --background: linear-gradient(to bottom, rgb(30, 14, 72), rgb(18, 8, 43));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex: 1 1 auto;
  margin-bottom: 20px;
  position: relative; /* Asegura que el botón esté relacionado con el contenedor */
  
}

.custom-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.custom-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: visible; /* Asegura que el botón no se corte */
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-button {
  --border-radius: 50%;
  --background: #51007d !important;
  --color: #fff;
  --z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 5px; /* Asegura que el botón sobresalga un poco más */
  right: 5px; /* Ajusta la posición para que no se vea cortado */
  font-weight: bold;
  border: none;
  cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */
  transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease; /* Transición para hover, active y background */

  ion-icon {
    font-size: 24px;
  }

  &:hover {
    --background: #6e1db0; /* Cambia ligeramente el color de fondo al pasar el mouse */
    transform: scale(1.1); /* Agranda el botón ligeramente al hacer hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade una sombra para el efecto de elevación */
  }

  &:active {
    --background: #3c0051; /* Color más oscuro al hacer clic */
    transform: scale(0.95); /* Reduce ligeramente el tamaño del botón para simular la presión */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra al hacer clic */
  }
}




.ion-center {
  width: 100%;
  // display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.bottom-card {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: auto;
  // padding: 20px;
  // flex: 1 1 auto;
}

ion-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

ion-card-title {
  color: white;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #ffffff;
  --color: #4b097d;
  border-radius: 16px;
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  align-items: center;
}

ion-label {
  color: #4b097d;
  text-align: left;
  font-size: 18px;
}

ion-icon {
  color: #ffffff;
  background-color: #550DA1;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}

ion-icon[name="chevron-forward-outline"] {
  background-color: transparent;
  color: #4b097d;
  padding: 0;
  border-radius: 0;
  font-size: 20px;
}

.delete-account-label {
  font-weight: bold;
}

.trash-outline {
  background-color: #b10000;
  color: #ffffff;
  padding: 10px;
}

ion-item[danger] ion-label {
  color: #ffffff;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #b10000;
  margin: 12px 0;
}
