ion-header {
  ion-toolbar {
    --background: linear-gradient(to right, #550DA1, #661491);
    --color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

ion-content {
  --background: linear-gradient(to bottom, rgb(30, 14, 72), rgb(18, 8, 43));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  flex: 1 1 auto;
  margin-bottom: 20px;
  position: relative; /* Asegura que el botón esté relacionado con el contenedor */
}

.custom-avatar {
  width: 25vw;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-button {
  --border-radius: 50%;
  --background: #51007d !important;
  --color: #fff;
  width: 5vw;
  height: 5vw;
  max-width: 40px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0; /* Posiciona el botón en la parte inferior */
  right: 0; /* Posiciona el botón en la parte derecha */
  z-index: 10;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  padding: 0;
  
  &:hover {
    --background: #51007d;
  }

  &:active {
    --background: #51007d;
  }
}

.ion-center {
  width: 100%;
  // display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.bottom-card {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: auto;
  // padding: 20px;
  // flex: 1 1 auto;
}

ion-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

ion-card-title {
  color: white;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #ffffff;
  --color: #4b097d;
  border-radius: 16px;
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
  align-items: center;
}

ion-label {
  color: #4b097d;
  text-align: left;
  font-size: 18px;
}

ion-icon {
  color: #ffffff;
  background-color: #550DA1;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
}

ion-icon[name="chevron-forward-outline"] {
  background-color: transparent;
  color: #4b097d;
  padding: 0;
  border-radius: 0;
  font-size: 20px;
}

.delete-account-label {
  font-weight: bold;
}

.trash-outline {
  background-color: #b10000;
  color: #ffffff;
  padding: 10px;
}

ion-item[danger] ion-label {
  color: #ffffff;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #b10000;
  margin: 12px 0;
}
