ion-header {
  ion-toolbar {
    --background: linear-gradient(to right, #550DA1, #661491);
    --color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  ion-title {
    font-size: 1.1em;  /* Tamaño de texto más pequeño */
    font-weight: normal;  /* Texto sin negrita */
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

ion-img {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  top: 0;
  left: 0;
}

ion-tab-bar {
  --background: #ff3366;
  /* Mantén el fondo de la barra de pestañas en un tono más claro */
}

ion-tab-button {
  color: #fff;
}

ion-searchbar {
  --border-radius: 20px;
  /* Ajusta el valor según sea necesario */
  --background: rgba(255, 255, 255, 0.1);
  /* Ajusta el color de fondo según sea necesario */

}

/* Opcional: Si deseas cambiar el estilo del ícono de búsqueda */
ion-searchbar .searchbar-search-icon {
  color: #ffffff;
  /* Ajusta el color del ícono según sea necesario */
}

/* Opcional: Si deseas cambiar el estilo del botón de cancelar */
ion-searchbar .searchbar-cancel {
  color: #ffffff;
  /* Ajusta el color del botón según sea necesario */
}

/* Opcional: Si deseas cambiar el estilo del texto de búsqueda */
ion-searchbar .searchbar-input {
  color: #ffffff;
  /* Ajusta el color del texto según sea necesario */
}

ion-text.titles {
  font-weight: bold;
  font-size: 1.2em;
  color:#ffffff
  
}

.green-bar {
  width: 4px;
  height: 20px;
  background-color: #4e743d;
  margin-right: 10px;
}


ion-icon{
  color:#ffffff94
}

.group-chat ion-text.titles {
  font-weight: bold;
  font-size: 1.2em;
  color: #ffffff; /* Color blanco */
}

.group-chat ion-list {
  background-color: transparent;
}