<ion-content>
  
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <div class="tab-container">
      <div class="tab-wrapper">

      <ion-tab-button tab="saved" href="/saved">
        <ion-icon name="bookmark-outline" color="white"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="schedule" href="/schedule">
        <ion-icon name="calendar-number-outline" color="white"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button tab="map" href="/map">
        <ion-icon name="map-outline" color="white"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button tab="recommended" href="/recommended">
        <ion-icon name="star-outline" color="white"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="groups" href="/groups">
        <ion-icon name="chatbubbles-outline" color="white"></ion-icon>
      </ion-tab-button>

      <!-- <ion-tab-button tab="user" href="/user">
        <ion-icon name="person-outline" color="white"></ion-icon>
      </ion-tab-button>  -->
    </div>
  </div>
</ion-tab-bar>
</ion-tabs>
</ion-content>