<ion-header>
  <ion-toolbar>
    <div class="header-content" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <!-- Botón de back que cierra el modal, ubicado a la izquierda -->
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <!-- Título centrado -->
      <ion-title style="text-align: center; flex-grow: 1;">{{ top }}</ion-title>

      <!-- Icono de guardar a la derecha del título con efecto de clic -->
      <ion-buttons slot="end">
        <ion-button fill="clear" color="light">
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list class="chat" lines="none">
    <ion-item *ngFor="let message of messages">
      <!-- Mensaje enviado por el usuario (color morado) -->
      <ion-card
        class="message-card user1"
        slot="end"
        *ngIf="message.idSender === userInfo._id"
      >
        <ion-card-content class="message-content">
          {{ message.message }}
        </ion-card-content>
      </ion-card>

      <!-- Mensaje recibido (color fucsia oscuro) -->
      <ion-card
        class="message-card user2"
        slot="start"
        *ngIf="message.idSender !== userInfo._id"
      >
        <ion-label class="message-sender">{{ message.sender }}</ion-label>
        <ion-card-content class="message-content">
          {{ message.message }}
        </ion-card-content>
      </ion-card>
    </ion-item>
    <!-- Aquí se coloca la referencia para hacer scroll al último mensaje -->
    <div #chatScroll></div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Type a message"
            [(ngModel)]="message"
            name="message"
          ></ion-input>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            class="custom-button"
            (click)="sendMessage(); message = ''"
            [disabled]="!message"
          >
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
