<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-buttons slot="start">
        <ion-button (click)="closeModal()"> </ion-button>
      </ion-buttons>
      <ion-title>{{ top }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list *ngIf="messages.length > 0">
    <ion-item *ngFor="let message of messages">
      <ion-label>
        <h2>{{ message.sender }}</h2>
        <p>{{ message.message }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div #chatScroll></div>
</ion-content> -->

<ion-content>
  <ion-list class="chat" lines="none">
    <ion-item *ngFor="let message of messages">
      <ion-card
        class="message-card user1"
        slot="end"
        *ngIf="message.idSender === userInfo._id"
      >
        <ion-card-content class="message-content">
          {{ message.message }}
        </ion-card-content>
      </ion-card>
      <ion-card
        class="message-card user2"
        slot="start"
        *ngIf="message.idSender !== userInfo._id"
      >
        <ion-label class="message-sender">{{ message.sender }}</ion-label>
        <ion-card-content class="message-content">
          {{ message.message }}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!-- <div #chatScroll></div> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input
            placeholder="Type a message"
            [(ngModel)]="message"
            name="message"
          ></ion-input>
        </ion-col>
        <ion-col size="auto">
          <ion-button
            class="custom-button"
            (click)="sendMessage(); message = ''"
            [disabled]="!message"
          >
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
