:root {
    --ion-color-moradocustom: #7D8AFF; /* Ejemplo de un color morado claro */
    --ion-color-moradocustom-rgb: 125, 138, 255;
    --ion-color-moradocustom-contrast: #ffffff;
    --ion-color-moradocustom-contrast-rgb: 255, 255, 255;
    --ion-color-moradocustom-shade: #6c79e0;
    --ion-color-moradocustom-tint: #8e9aff;
  }

  