

<ion-content>
  <div class="login-title">Login</div>
  <!-- Contenedor de la ola -->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        <linearGradient id="wave-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#550DA1;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#661491;stop-opacity:1" />
        </linearGradient>
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="url(#wave-gradient)" fill-opacity="0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="url(#wave-gradient)" fill-opacity="0.5" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="url(#wave-gradient)" fill-opacity="0.3" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="url(#wave-gradient)" fill-opacity="1" />
      </g>
    </svg>
  </div>
  <!-- Contenedor del formulario de inicio de sesión -->
  <div class="ion-center">
    <ion-card shape="round">
      <ion-card-content>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          
          <ion-item>
            <ion-input 
              placeholder="Username"
              required
              type="text"
              name="username"
              errorText="Username is required"
              [(ngModel)]="existingUser.userInfo"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input 
              placeholder="Password"
              required
              type="password"
              name="password"
              minlength="8"
              maxlength="16"
              errorText="Password is required"
              [(ngModel)]="existingUser.password"
            ></ion-input>
          </ion-item>
          <ion-button class="custom-button" type="submit" [disabled]="!loginForm.valid">
            
            Login
          </ion-button>
        </form>

        <ion-col>
          <p>No tienes cuenta? <a [routerLink]="['/register']"> Registrate </a></p>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>