.usercard{
    background: rgba( 255 ,255, 255, .8);
    border-radius: 15px;
    
    margin: 0 20 0 20; 
}

.ion-justify-content-between {
    gap: 5px;
    
    // display: flex;
    // justify-content: space-around;
}

.arrowCol{
    display: flex;
    align-items: center;
    justify-content: end;
}

.iconCol{
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: start;
}
.infoUserCol{
    width: 200px ;
    // width: 20px;
}

.iconito{
    color: #5555;
    position: absoulte;
    // wid?
}