<ion-card class="usercard">
  <ion-card-content>
    <ion-row class="ion-justify-content-between">
      
      <ion-col class="iconCol">
        <ion-icon name="person-outline"></ion-icon>
      </ion-col>
      
      <ion-col class="infoUserCol">  
          <label>Username</label>
          <br>
          <label>Carrera</label>
          <br>
          <label>0412-666671</label>
      </ion-col>
      <ion-col class="arrowCol">
        <ion-icon class="iconito" name="chevron-forward-outline"/>
      </ion-col>
    </ion-row>
  </ion-card-content>    
</ion-card>
