<div class="card-header">
  <h2 class="card-title">Search Locations</h2>
</div>

<div class="wrapper">


    <div position="stacked">Start Location</div>
    <ion-input [(ngModel)]="startLocation"></ion-input>
  
    <div position="stacked">End Location</div>
    <ion-input [(ngModel)]="endLocation"></ion-input>
  

  <ion-button 
  (click)="dismissAndOpenWaitDriver()"
  color="light"
  fill="outline"
  expand="block"
  >Ride</ion-button>

  <ion-button (click)="dismiss()" color="light" expand="block" 
  >Cancel</ion-button>

</div>




