<ion-content>
  <div class="register-title">Registro</div>

  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        <linearGradient id="wave-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#550DA1;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#661491;stop-opacity:1" />
        </linearGradient>
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="url(#wave-gradient)" fill-opacity="0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="url(#wave-gradient)" fill-opacity="0.5" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="url(#wave-gradient)" fill-opacity="0.3" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="url(#wave-gradient)" fill-opacity="1" />
      </g>
    </svg>
  </div>

  <div class="ion-center">
    <ion-card shape="round">
      <ion-card-content>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          
          <!-- Campo 1: Nombre completo -->
          <ion-item 
            [ngClass]="{ 'minimized': expandedField !== 'fullName', 'expanded': expandedField === 'fullName' }" 
            (click)="toggleExpand('fullName')"
          >
            <ion-input
              label="Nombre completo"
              labelPlacement="floating"
              required
              type="text"
              name="UserName"
              [(ngModel)]="newUser.fullName"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <!-- Campo 2: Nombre de usuario -->
          <ion-item 
            [ngClass]="{ 'minimized': expandedField !== 'username', 'expanded': expandedField === 'username' }" 
            (click)="toggleExpand('username')"
          >
            <ion-input
              label="Nombre de usuario"
              labelPlacement="floating"
              required
              type="text"
              name="FullName"
              [(ngModel)]="newUser.username"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <!-- Campo 3: Cédula -->
          <ion-item 
            [ngClass]="{ 'minimized': expandedField !== 'ci', 'expanded': expandedField === 'ci' }" 
            (click)="toggleExpand('ci')"
          >
            <ion-input
              label="Cédula"
              labelPlacement="floating"
              required
              type="text"
              name="CI"
              [(ngModel)]="newUser.ci"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <!-- Campo 4: Email -->
          <ion-item 
            [ngClass]="{ 'minimized': expandedField !== 'email', 'expanded': expandedField === 'email' }" 
            (click)="toggleExpand('email')"
          >
            <ion-input
              label="Email"
              labelPlacement="floating"
              required
              type="email"
              name="Email"
              [(ngModel)]="newUser.email"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <!-- Campo 5: Selección de carrera -->
          <ion-item>
            <ion-label>Carrera</ion-label>
            <ion-select
              [(ngModel)]="newUser.career"
              name="career"
              placeholder="Selecciona una carrera"
              interface="popover"
           
              required>
              <ion-select-option value="Psicologia">Psicología</ion-select-option>
              <ion-select-option value="Administracion de Empresas">Administración de Empresas</ion-select-option>
              <ion-select-option value="Ciencias Politicas">Ciencias Políticas</ion-select-option>
              <ion-select-option value="Contaduria Publica">Contaduría Pública</ion-select-option>
              <ion-select-option value="Derecho">Derecho</ion-select-option>
              <ion-select-option value="Estudios Internacionales">Estudios Internacionales</ion-select-option>
              <ion-select-option value="Negocios Gastronomicos y Turisticos">Negocios Gastronómicos y Turísticos</ion-select-option>
              <ion-select-option value="Arquitectura">Arquitectura</ion-select-option>
              <ion-select-option value="Ingenieria Electrica">Ingeniería Eléctrica</ion-select-option>
              <ion-select-option value="Ingenieria en Computacion">Ingeniería en Computación</ion-select-option>
              <ion-select-option value="Ingenieria Industrial">Ingeniería Industrial</ion-select-option>
              <ion-select-option value="Ingenieria Quimica">Ingeniería Química</ion-select-option>
              <ion-select-option value="Ingenieria en Telecomunicaciones">Ingeniería en Telecomunicaciones</ion-select-option>
              <ion-select-option value="Ingenieria Civil">Ingeniería Civil</ion-select-option>
              <ion-select-option value="Diseño de Espacios e Interiorismo">Diseño de Espacios e Interiorismo</ion-select-option>
              <ion-select-option value="Ingenieria de Produccion Animal">Ingeniería de Producción Animal</ion-select-option>

            </ion-select>
          </ion-item>
          

          <!-- Campo 6: Teléfono -->
          <ion-item 
            [ngClass]="{ 'minimized': expandedField !== 'phoneNumber', 'expanded': expandedField === 'phoneNumber' }" 
            (click)="toggleExpand('phoneNumber')"
          >
            <ion-input
              label="Teléfono"
              labelPlacement="floating"
              required
              type="text"
              name="Phone"
              [(ngModel)]="newUser.phoneNumber"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <!-- Campo 7: Contraseña -->
          <ion-item 
            [ngClass]="{ 'minimized': expandedField !== 'password', 'expanded': expandedField === 'password' }" 
            (click)="toggleExpand('password')"
          >
            <ion-input
              id="password_input"
              label="Contraseña"
              labelPlacement="floating"
              required
              type="password"
              name="password"
              minlength="8"
              maxlength="16"
              [(ngModel)]="newUser.password"
            ></ion-input>
            <ion-icon
              name="eye"
              slot="end"
              color="blue"
              id="show_password"
              (click)="showPassword('show_password', 'password_input')"
            ></ion-icon>
          </ion-item>

       <!-- Campo 8: Confirmar Contraseña -->
          <ion-item>
            <ion-input
            required
            id="password_input2"
            label="Confirmar contraseña"
            labelPlacement="floating"
            type="password"
            name="password"
            minlength="8"
            maxlength="16"
            errorText="Password is required"
            [(ngModel)]="newUser.repeat_password"
          ></ion-input>
          <ion-icon
          name="eye"
          slot="end"
          color="blue"
          id="show_password2"
          (click)="showPassword('show_password2' , 'password_input2')"
        ></ion-icon>
          </ion-item>

          <!-- Botón de registro -->
          <ion-button
            class="custom-button"
            type="submit"
            expand="full"
            [disabled]="!registerForm.valid"
            shape="round"
          >Registrar</ion-button>
        </form>

        <ion-col>
          <p>¿Ya tienes cuenta? <a [routerLink]="['/login']">Ingresa aquí</a></p>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
