<ion-content>
  <div>
    <ion-progress-bar
      type="indeterminate"
      style="display: none"
    ></ion-progress-bar>
  </div>
  <div class="register-title">Register</div>
 
  <!-- Contenedor de la ola -->
  <div *ngIf="!isLoading">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        <linearGradient id="wave-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#550DA1;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#661491;stop-opacity:1" />
        </linearGradient>
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="url(#wave-gradient)" fill-opacity="0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="url(#wave-gradient)" fill-opacity="0.5" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="url(#wave-gradient)" fill-opacity="0.3" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="url(#wave-gradient)" fill-opacity="1" />
      </g>
    </svg>
  </div>
  <div *ngIf="!isLoading">
    <ion-backdrop [visible]="false" style="display: none"></ion-backdrop>
  </div>
  <!--backdrop-->
  <div *ngIf="isLoading">
    <ion-backdrop [visible]="true"></ion-backdrop>
  </div>
  <!-- Contenedor del formulario de inicio de sesión -->
  <div class="ion-center">
    <ion-card shape="round">
      <ion-card-content>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
          <ion-item>
            <ion-input
            label="Nombre completo"
            labelPlacement="floating"
              required
              type="text"
              name="UserName"
              errorText="UserName is required"
              [(ngModel)]="newUser.fullName"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-input
            label="Nombre de usuario"
            labelPlacement="floating"
              required
              type="text"
              name="Full Name"
              errorText="username es requerido"
              [(ngModel)]="newUser.username"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
            label="Cedula"
            labelPlacement="floating"
              required
              type="text"
              name="CI"
              errorText="CI is required"
              [(ngModel)]="newUser.ci"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-input
            label="Email"
            labelPlacement="floating"
              required
              type="text"
              name="Email"
              errorText="Email is required / Invalid email"
              [(ngModel)]="newUser.email"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>

          <ion-item>
            <!-- <ion-select [(ngModel)]="selectedOption">
              <ion-select-option color="red" *ngFor="let option of options" [value]="option">{{ option }}</ion-select-option>
            </ion-select> -->
            <ion-input
            label="Phone"
            labelPlacement="floating"
              required
              type="text"
              name="phone"
              errorText="Phone is required / Invalid phone"
              [(ngModel)]="newUser.phoneNumber"
              [clearOnEdit]="true"
            ></ion-input>
          </ion-item>


          <ion-item>
            <ion-input
            id="password_input"
            label="contraseña"
            labelPlacement="floating"
              required
              type="password"
              name="password"
              minlength="8"
              maxlength="16"
              errorText="Password is required"
              [(ngModel)]="newUser.password"
            ></ion-input>
            <ion-icon
          name="eye"
          slot="end"
          color="blue"
          id="show_password"
          (click)="showPassword('show_password' , 'password_input')"
        ></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
            required
            id="password_input2"
            label="contraseña"
            labelPlacement="floating"
            type="password"
            name="password"
            minlength="8"
            maxlength="16"
            errorText="Password is required"
            [(ngModel)]="newUser.repeat_password"
          ></ion-input>
          <ion-icon
          name="eye"
          slot="end"
          color="blue"
          id="show_password2"
          (click)="showPassword('show_password2' , 'password_input2')"
        ></ion-icon>
          </ion-item>

          <ion-button class="custom-button" type="submit"
            expand="full"
            type="submit"
            [disabled]="!registerForm.valid"
            shape="round"
            >Register</ion-button
          >
        </form>
        <ion-col>
          <p>Ya tienes cuenta? <a [routerLink]="['/login']"> Ingresa aqui</a></p>
        </ion-col>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>