ion-header {
  ion-toolbar {
    --background: linear-gradient(to right, #550DA1, #661491);
    --color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  ion-title {
    font-size: 1.1em;  /* Tamaño de texto más pequeño */
    font-weight: normal;  /* Texto sin negrita */
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
