ion-header {
  ion-toolbar {
    --background: linear-gradient(to right, #550DA1, #661491);
    --color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  ion-title {
    font-size: 1.1em;  /* Tamaño de texto más pequeño */
    font-weight: normal;  /* Texto sin negrita */
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-chip{


@media (prefers-color-scheme: light) {
  --background: #ffffff; /* Fondo blanco */
  --color: #000000; /* Texto negro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para dar efecto de borde */
}

/* Estilos para tema oscuro */
@media (prefers-color-scheme: dark) {
  --background: #000000; /* Fondo negro */
  --color: #d3d3d3; /* Texto gris claro */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* Sombra para dar efecto de borde */
}
}

.custom-chip {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  background-color: #3a3459;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta el espacio entre el avatar y el texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añadir sombra para mayor estilo */
}

.custom-avatar {
  width: 80px; /* Aumenta el tamaño del avatar */
  height: 80px;
  margin-right: 20px; /* Añade espacio entre el avatar y el texto */
}

.labels-container {
  flex: 1; /* Permite que los labels usen todo el espacio disponible */
  display: flex;
  flex-direction: column; /* Coloca los labels uno encima del otro */
  text-align: left; /* Alinea el texto a la izquierda */
  margin-right: 10px; /* Añade espacio entre el texto y el icono */
}

.primary-label {
  font-weight: bold;
  font-size: 18px;
}

.secondary-label,
.tertiary-label {
  font-size: 14px;
}

.chevron-icon {
  font-size: 24px;
}
