


ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%; /* Asegura que el contenedor no se desborde horizontalmente */
  overflow: hidden; /* Previene cualquier desplazamiento */
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --background: #ffffff;
  --color: #4b097d;
  border-radius: 16px; /* Bordes más redondeados */
  width: 100%;
  height: 60px; /* Botones más grandes */
  margin-bottom: 12px; /* Espacio extra entre botones */
  align-items: center;
}

ion-label {
  color: #4b097d;
  text-align: left;
  font-size: 18px; /* Tamaño de fuente más grande */
}

ion-icon {
  color: #ffffff; /* Iconos en blanco */
  background-color: #550DA1; /* Fondo morado */
  padding: 10px;
  border-radius: 10px; /* Borde redondeado para los iconos */
  font-size: 24px; /* Aumenta el tamaño de los iconos */
}