/* global.scss */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Leaflet CSS */
@import "~leaflet/dist/leaflet.css";

/* Custom global styles */
html, body, ion-app, ion-content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Asegurar que el mapa ocupe todo el espacio disponible */
#map {
  height: 100%;
  width: 100%;
}

/* Aplicar temas basados en la preferencia del sistema */
:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #461572;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
  }
}

ion-content {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

.my-custom-class {

  --width: fit-content;
  --min-width: 350px;
  --max-width: 450px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  // max-width: 500px;
  // max-height: 500px;
  // margin: 10px;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // position: absolute;
  // border-radius: 10px;
  // overflow: auto;
  // background-color: transparent;
}

