<app-user-button></app-user-button>
<ion-content>
  <ion-item>
    <ion-label position="floating">Start Location</ion-label>
    <ion-input [(ngModel)]="startLocationName" (ionChange)="updateStartLocation()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">End Location</ion-label>
    <ion-input [(ngModel)]="endLocationName" (ionChange)="updateEndLocation()"></ion-input>
  </ion-item>

  <!-- Lista de sugerencias de ubicación -->
  <ion-list *ngIf="locationSuggestions.length > 0" class="suggestions-list">
    <ion-item *ngFor="let suggestion of locationSuggestions" (click)="selectSuggestion(suggestion)">
      {{ suggestion.name }}
    </ion-item>
  </ion-list>

  <!-- Contenedor del mapa -->
  <div id="map" class="map-container"></div>
</ion-content>